thead {
    background-color: rgb(8, 140, 255);

}
td{
padding: 5px;
border: 10px;

}
table{
    border: 15px;
    border-collapse: collapse;
    border-width: 50px;
}
td:nth-child(1){
    width: 25%;
}
td:nth-child(4){
    width: 40%;
}